OTOBO_PROJECT_NAME=otobo
OPT_OTOBO=/opt/workspace/rel-11_0/otobo

DISPLAY=:1
DISPLAY_WIDTH=1280
DISPLAY_HEIGHT=800
DISPLAY_DEPTH=24
VNC_PORT=9998
NOVNC_PORT=9999

GDBG_FIFO_DIR="/opt/otobo/" 
GDBG_KILL_CMD="/opt/kill"
GDBG_RESTART_CMD="/opt/kill restart"

